body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

a {
  text-decoration: none;
  padding: 40px 80px;
  color: white;
  border: 3px solid white;
  font-size: 40px;
  position: relative;
  font-family: "roboto";
  transition: all 1s;
  overflow: hidden;
}

a:before {
  content: "YEAH";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f44336;
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover:before {
  transform: translateY(0);
}
